.footer {
    background-color: #0B2034;
    color: #FFFFFF;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1 1 250px;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer-description {
    font-size: 14px;
    line-height: 1.6;
  }
  
  .footer-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    font-size: 14px;
  }
  
  .footer-list li {
    margin-bottom: 15px; /* Espacio entre elementos de la lista */
  }
  
  .footer-link {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .footer-socials {
    display: flex;
    gap: 15px;
  }
  
  .footer-social-link {
    color: #FFFFFF;
    font-size: 18px;
  }
  
  .footer-bottom {
    border-top: 1px solid #333333;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
  }
  