.landing-section {
  height: 100vh;
  background-image: url('../../assets/images/musica.jpg'); /* Cambia por el link de la imagen de fondo */
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: flex-start;
  padding: 0 50px;
}

.landing-content {
  margin-top: 12%;
  max-width: 40%;
  margin-right: auto;
}

.landing-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.landing-content p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.shop-button {
  padding: 15px 30px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-button:hover {
  background-color: #0056b3;
}

  