.mainContainer {
  display: grid;
  grid-template-columns: 5% 90% 5%;
}
  
  .carousel {
    display: flex;
    gap: 2%; /* Espacio entre productos */
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-top: 30px;
  }
  
  .carousel::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en Chrome, Safari y Opera */
  }
  
  .carousel-button {
    background: none;
    color: #2C3E59;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
  }
  
  .carousel > * {
    min-width: 18.4%; /* Mostrar 4 productos en pantalla */
  }
  
  @media (max-width: 768px) {
    .carousel > * {
      min-width: 50%; /* Mostrar 2 productos en pantalla en dispositivos más pequeños */
    }
  }
  
  @media (max-width: 480px) {
    .carousel > * {
      min-width: 100%; /* Mostrar 1 producto en pantalla en dispositivos muy pequeños */
    }
  }
  