.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 270px;
  height: 380px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 10px; /* Bordes redondeados más pronunciados */
  overflow: hidden;
  background-color: #FFFFFF; /* Fondo blanco para contraste */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones para hover */
  /* margin-top: 10%; */
}

.product-card:hover {
  transform: translateY(-10px); /* Eleva la card al hacer hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra más profunda */
}

.product-card-img {
  width: 100%;
  height: 220px; /* Altura mayor para destacar la imagen */
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease; /* Efecto de zoom en hover */
}

.product-card-img:hover {
  transform: scale(1.05); /* Zoom en la imagen al hacer hover */
}

.product-card-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 160px;
}

.product-card-title {
  font-size: 17px;
  margin: 5px 0;
  color: #333333; /* Color de texto oscuro */
  transition: color 0.3s ease; /* Transición para el hover */
}

.product-card-title:hover {
  color: #0047AB; /* Cambia el color al hacer hover */
  cursor: pointer;
}

.product-card-category {
  font-size: 16px;
  color: #777777; /* Gris suave */
  margin: 5px 0;
}

.product-card-price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: #0047AB; /* Azul para resaltar */
}
