html {
  box-sizing: border-box;
  font-family: Georgia, serif;


  
}


body  {
  padding: 0;
  margin: 0;
  font-weight: normal;
  /* background-color: #EAEDED; */
}


h1, h2, h3, h4, h5, h6, p, ol, ul{
  padding: 0;
  margin: 0;
  font-weight: normal;

}